body {
  margin: 0;
  background: linear-gradient(125deg, rgba(51,70,107,1) 0%, rgba(42,49,84,1) 8%, rgba(36,40,71,1) 15%, rgba(25,25,54,1) 50%, rgba(36,40,71,1) 85%, rgba(42,49,84,1) 92%, rgba(51,70,107,1) 100%);
  background-attachment: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
}


h1 {
  text-align: center;
}
