body {
  margin: 0;
  background: linear-gradient(125deg, rgba(51,70,107,1) 0%, rgba(42,49,84,1) 8%, rgba(36,40,71,1) 15%, rgba(25,25,54,1) 50%, rgba(36,40,71,1) 85%, rgba(42,49,84,1) 92%, rgba(51,70,107,1) 100%);
  background-attachment: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
}

.main-container {
  display: inline-flex;
  margin-top: 20px;
  margin-left: 20vw;
  min-height: 250px;
  min-width: 500px;
  height: 75vh;
  width: 75vw;
  background-color: #3e3f5f;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}

.container2 {
  position: absolute;
  top: 10vh;
  right: 10px;
  border: 3px solid black;
  height: 80vh;
  width: 13vw;
  font-size: 18px;
  text-align: center;
}

.container3 {
  position: absolute;
  top: 10vh;
  left: 0;
  border: 3px solid black;
  height: 80vh;
  width: 13vw;
  font-size: 18px;
}

.container3 h3 {
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
}

.container3 ul {
  list-style-type: none;
  padding: 0;
  transition: background-color 0.3s ease;
}

.container3 ul li {
  padding: 10px;
  border-bottom: 1px solid black;
}

.container3 ul li a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
}

.dashboardImg{
  width: 40px; 
  height: 30px;
  margin-right: 10px; 
}
.monthImg{
  width: 40px; 
  height: 30px;
  margin-right: 10px; 
}
.statisticsImg{
  width: 40px; 
  height: 30px;
  margin-right: 10px; 
}
.stocksImg {
  width: 40px; 
  height: 30px;
  margin-right: 10px; 
}






