body.active-modal {
    overflow-y: hidden;
}

.main-container {
    display: inline-flex;
    margin-left: 10%;
    margin-block: 40px;
    min-height: 250px;
    min-width: 600px;
    height: 80vh;
    width: 80vw;
    background-color: #3e3f5f;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}


.measurer {
    position: absolute;
    height: auto;
    width: 20%;
    align-items: center;
    justify-content: center;
}


.btn-modal-container {
    height: 75%;
    width: 75%;
    display: grid;
    grid-template-columns: 20% 20%;
    grid-column-gap: 60%;
    grid-row-gap: 60%;
    align-items: center;
    justify-content: center;
}
.btn-modal {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 100%;
    font-weight: 600;
    color: white;
    background-color: #191e4f;
    opacity: 1;
    transition: opacity 0.25s ease;
}
.btn-modal:hover {
    opacity: 0.6;
}
.icon {
    width: 25%; 
    height: auto;
    margin-right: 10%;
    color: white;
}


.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.7);
}
.modal-content {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background-color: #0f0f23;
    padding: 14px 32px;
    border-radius: 14px;
    max-width: 900px;
    min-width: 600px;
    height: 150px;
    justify-content: center;
}

.modal-form {
    display: inline-flex;
    align-items: center;
    color: white;
}
.AddLabel {
    display: inline-flex;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    color: inherit;
}
.AddTxt{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    font-size: 20px;
    border-width: 0;
    background-color: #2e2e5d;
    color: inherit;
}
.AddBtn{
    align-items: center;
    height: inherit;
    display: inline-flex;
    top: 10px;
    right: 80px;
    padding: 5px 7px;
    background-color: #2e2e5d;
    color: inherit;
    font-size: 20px;
    font-weight: 600;
    border-width: 3px;
    border-color: white;
    border-style: solid;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    font-weight: 600;
    color: white;
    background: none;
    border: none;
}
